@import url('./global.css');

#container-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background: var(--verde-claro); */
    background: linear-gradient(329.54deg, var(--verde-claro) 0%, var(--verde-escuro) 100%);
    border-radius: 20px;
    padding: 20px;
    /* box-shadow: 0.4em 10px 1.4em #383838;    */
    box-shadow: var(--cor-da-sombra) 0px 5px 15px;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}

#container-login > div.margem-abaixo { text-align: center; }

#container-login > div > img {}

#container-login > h1 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}

#container-login > form > fieldset { border: none; }

.margem-abaixo { margin-bottom: 10px; }

.d-none { display: none; }

#container-login > form > fieldset > .margem-abaixo  > input {
    appearance: none;
    border: none;
    border-bottom: 1px solid var(--branco-primario);
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    outline: none;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    color: var(--branco-primario);
}

#container-login > form > fieldset > .margem-abaixo  > input::placeholder {
    color: var(--branco-primario);
}

#container-login > form > fieldset > div#container-senha {
    border-bottom: 1px solid var(--branco-primario);
    border-radius: 3px;
}

#container-login > form > fieldset > div#container-senha > label {}

#container-login > form > fieldset > div#container-senha > label > input {
    padding-left: 10px;
    appearance: none;
    border: none;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: var(--branco-primario);
}

#container-login > form > fieldset > div#container-senha > label > input::placeholder { color: var(--branco-primario); }

#container-login > form > fieldset > div#message {
    display: flex;
    align-items: center;
    background-color: var(--vermelho-claro);
    color: var(--branco-primario);
    border: none;
    justify-content: center;
    border-radius: 5px;
}

#container-login > form > fieldset > div > a {
    margin-left: 50%;
    text-decoration: none;
    /* color: rgba(0, 0, 0, 0.6); */
    color: var(--preto-primario);
}

#container-login > form > fieldset > div > button {
    width: 100%;
    height: 50px;
    appearance: none;
    background-color: var(--amarelo-claro);
    border: none;
    border-radius: 5px;
    color: var(--preto-primario);
    cursor: pointer;
    font-family: inherit;
}

#container-login > form > fieldset > div > button:hover {
    transition: background-color 0.5s;
    background-color: var(--amarelo-escuro);
}