#page-criar-aldeia {
  display: flex;
}
  
#page-criar-aldeia main {
  flex: 1;
}
  
form.criar-aldeia-form {
  width: 700px;
  margin: 64px auto;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  padding: 64px 80px;

  overflow: hidden;
}
  
form.criar-aldeia-form .leaflet-container {
  margin-bottom: 40px;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
}
  
form.criar-aldeia-form fieldset {
  border: 0;
}

form.criar-aldeia-form fieldset + fieldset {
  margin-top: 80px;
}

form.criar-aldeia-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

#page-criar-aldeia form .field-group {
  flex: 1;
  display: flex;
}
#page-criar-aldeia form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-right: 24px;
}
  
form.criar-aldeia-form .input-block + .input-block {
  margin-top: 24px;
}

form.criar-aldeia-form .input-block label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

form.criar-aldeia-form .input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}
  
form.criar-aldeia-form .input-block input,
form.criar-aldeia-form .input-block textarea {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

form.criar-aldeia-form .input-block input {
  height: 64px;
  padding: 0 16px;
}

form.criar-aldeia-form .input-block select {
  width: 100%;
  height: 64px;
  padding: 16px 24px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  outline: none;
  color: #5C8599;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  border-radius: 20px;
  font-size: 16px;
}

form.criar-aldeia-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

form.criar-aldeia-form .input-block .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}
  
form.criar-aldeia-form .input-block .images-container img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 20px;
}

form.criar-aldeia-form .input-block .images-container .new-image {
  height: 96px;
  background: #F5F8FA;
  border: 1px dashed #96D2F0;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

form.criar-aldeia-form .input-block input[type=file] {
  display: none;
}

form.criar-aldeia-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
form.criar-aldeia-form .input-block .button-select button {
  height: 64px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  color: #5C8599;
  cursor: pointer;
}

form.criar-aldeia-form .input-block .button-select button.active {
  background: #EDFFF6;
  border: 1px solid #A1E9C5;
  color: #37C77F;
}

form.criar-aldeia-form .input-block .button-select button:first-child {
  border-radius: 20px 0px 0px 20px;
}

form.criar-aldeia-form .input-block .button-select button:last-child {
  border-radius: 0 20px 20px 0;
  border-left: 0;
}
  
form.criar-aldeia-form button.confirm-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #34CB79;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

form.criar-aldeia-form button.confirm-button svg {
  margin-right: 16px;
}

form.criar-aldeia-form button.confirm-button:hover {
  background: #2FB86E;
}

/* ------------------------------------------------------- Criar quiz ------------------------------------------------------- */

form > fieldset > fieldset > #verdadeiro_ou_falso > label > input[type=radio] {
  height: 15px;
  margin: 5px;
  padding: 0px;
  width: auto;
  background: #FFF;
  border: none;
  border-radius: 0px;
  outline: none;
  color: #5C8599;
}

.verdadeiro {
  color: #34CB79;
}

.falso {
  color: #ff4a4a;
}

form > fieldset > fieldset > #alternativas > label > input[type=radio] {
  height: 15px;
  margin: 5px;
  padding: 0px;
  width: auto;
  background: #FFF;
  border: none;
  border-radius: 0px;
  outline: none;
  color: #5C8599;
}