@import url('./global.css');

#page-landing {
    width: 100vw; /* o vh se ajustar a altura do dispositivo, facilitando principalmente quando necessitar de sliders com height 100% e também poderá utilizar o vw, para width 100% */
    height: 100vh;
    
    padding: 1.25rem 1rem;
    background: linear-gradient(329.54deg, var(--verde-claro) 0%, var(--verde-escuro) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;
    
    width: 100%;
    max-width: 68.75rem;

    height: auto;
    max-height: 42.5rem;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* justify-content: space-between; */

    background: url('../images/landing.png') no-repeat 80% center;
    background-size: contain; 
}

#page-landing .content-wrapper #content-wrapper-top {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#page-landing .content-wrapper #content-wrapper-top .location {
    font-size: 1.5rem;
    line-height: 2.125rem;

    display: flex;
    flex-direction: column;
}

#page-landing .content-wrapper #content-wrapper-top .location strong { font-weight: 800; }

#page-landing .content-wrapper #content-wrapper-middle { max-width: 23.438rem }

#page-landing .content-wrapper #content-wrapper-middle h1 {
    font-size: 4.75rem;
    font-weight: 900;
    line-height: 4.175rem;
}

#page-landing .content-wrapper #content-wrapper-middle p {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    line-height: 2.125rem;
}


#page-landing .content-wrapper #content-wrapper-bottom {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

#page-landing .content-wrapper #content-wrapper-bottom .enter-app {
    /* position: absolute; */
    right: 0;
    bottom: 0;

    width: 5rem;
    height: 5rem;
    background-color: var(--amarelo-claro);
    border-radius: 1.875rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper #content-wrapper-bottom .enter-app:hover {
    transition: background-color 0.5s;
    background-color: var(--amarelo-escuro);
}


@media(max-width: 800px) {
    #page-landing .content-wrapper {
        /* justify-content: space-between; */
        background: url(../images/landing.png) no-repeat 90% center;
        background-size: contain;
    }
}

@media(max-width: 720px) {
    #page-landing .content-wrapper {
        /* justify-content: space-between; */
        background: url(../images/landing.png) no-repeat 90% center;
        background-size: 256px;
    }

    /* #page-landing .content-wrapper #content-wrapper-top img {
        width: 256px;
    }

    #page-landing .content-wrapper #content-wrapper-middle h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4rem;   
    }
    */
}

@media(max-width: 620px) {
    #page-landing .content-wrapper {
        background: url(../images/landing.png) no-repeat 90% bottom;
        background-size: 256px;
    }

    #page-landing .content-wrapper #content-wrapper-top {
        margin-bottom: 2rem;
    }

    #page-landing .content-wrapper #content-wrapper-top img {
        width: 256px;
    }

    #page-landing .content-wrapper #content-wrapper-middle h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4rem;   
    }

    #page-landing .content-wrapper #content-wrapper-middle {
        margin-bottom: 2rem;
    }

    #page-landing .content-wrapper #content-wrapper-bottom{
        margin-top: 2rem;
    }  
}

@media(max-width: 520px) {
    #page-landing {
        height: 100%;
    }

    #page-landing .content-wrapper {
        min-height: 800px;
        justify-content: space-between;
        background: url(../images/landing.png) no-repeat 10% bottom;
        background-size: 256px;
    }

    #page-landing .content-wrapper #content-wrapper-top {
        margin-bottom: 0;
    }

    /*

    #page-landing .content-wrapper #content-wrapper-top img {
        width: 256px;
    } */

    #page-landing .content-wrapper #content-wrapper-top div strong {
        display: none;
    }

    #page-landing .content-wrapper #content-wrapper-middle {
        position: relative;
        top: -110px;
    }
    #page-landing .content-wrapper #content-wrapper-middle h1 {
        font-size: 3rem;
        line-height: 3rem;   
    }

    /*
    #page-landing .content-wrapper #content-wrapper-middle {
        margin-bottom: 2rem;
    }

    #page-landing .content-wrapper #content-wrapper-bottom{
        margin-top: 2rem;
    } */
}
