#page-aldeia {
    display: flex;
    min-height: 100vh;
  }
  
  #page-aldeia main {
    flex: 1;
  }
  
  .aldeia-detalhes {
    width: 700px;
    margin: 64px auto;
  
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    overflow: hidden;
  }
  
  .aldeia-detalhes > img {
    width: 100%;
    height: 900px;
    object-fit: cover;
  }
  
  .aldeia-detalhes .images {
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    column-gap: 16px;
  
    margin: 16px 40px 0;
  }
   
  .aldeia-detalhes .images button {
    border: 0;
    height: 88px;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    outline: none;
    
    opacity: 0.6;
    margin: 2px;
  }
  
  .aldeia-detalhes .images button.active {
    opacity: 1;
  }
  
  .aldeia-detalhes .images button img {
    width: 100%;
    height: 88px;
    object-fit: cover;
    
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo {
    padding: 80px;
  }

  .field-group {
    flex: 1;
    display: flex;
  }

  .field {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    margin-right: 24px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo h1 {
    color: #4D6F80;
    font-size: 34px;
    line-height: 54px;
    margin-bottom: 8px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo p {
    line-height: 28px;
    color: #5C8599;
    margin-top: 24px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .map-container {
    margin-top: 64px;
    margin-bottom: 128px;
    background: #E6F7FB;
    border: 1px solid #B3DAE2;
    border-radius: 20px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .map-container footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .map-container footer a {
    line-height: 24px;
    color: #0089A5;
    text-decoration: none;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .map-container .leaflet-container {
    border-bottom: 1px solid #DDE3F0;
    border-radius: 20px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo hr {
    width: 100%;
    height: 1px;
    border: 0;
    background: #D3E2E6;
    margin: 0;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo h3 {
    font-size: 36px;
    line-height: 46px;
    color: #4D6F80;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .open-details {
    margin-top: 24px;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .open-details div {
    padding: 32px 24px;
    border-radius: 20px;
    line-height: 28px;
  }
  
  .orphanage-details .aldeia-detalhes-conteudo .open-details div svg {
    display: block;
    margin-bottom: 20px;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .open-details div.hour {
    background: linear-gradient(149.97deg, #E6F7FB 8.13%, #FFFFFF 92.67%);
    border: 1px solid #B3DAE2;
    color: #5C8599;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .open-details div.open-on-weekends {
    background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
    border: 1px solid #A1E9C5;
    color: #37C77F;
  }
  
  .aldeia-detalhes .aldeia-detalhes-conteudo .open-details div.open-on-weekends.dont-open {
    background: linear-gradient(154.16deg, #EDF0F5 7.85%, #FFFFFF 91.03%);
    border: 1px solid #FFBCD4;
    color: #FF669D;
  }
  
.aldeia-detalhes .aldeia-detalhes-conteudo button.contact-button {
  margin-top: 32px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.aldeia-detalhes .aldeia-detalhes-conteudo button.contact-button svg {
  margin-right: 16px;
}

.link {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#edit {
  background: #facb4a;
}

#edit:hover {
  background: #ffd666;
}

#delete {
  background: #ff4a4a;
}

#delete:hover {
  background: #ff6767;
}