@import url('./global.css');

.modalBackground {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    
    overflow: hidden;
    outline: 0;
    transition: none;

    background-color: var(--cor-de-fundo-primario);

    justify-content: center;
    align-items: center;
}
  
.modalContainer {
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 0.75rem;
    background-color: var(--branco-primario);
    box-shadow: var(--cor-da-sombra) 0rem 0.313rem 0.938rem;
    display: flex;
    flex-direction: column;
    padding: 1.563rem;
}

.modalContainer .title h1 {
    display: inline-block;
    text-align: center;
    margin-top: 0.625rem;
    color: var(--cor-do-texto);
}

.titleCloseBtn { display: flex; justify-content: flex-end; }

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1.563rem;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: var(--amarelo-claro);
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    width: 9.375rem;
    height: 2.813rem;
    margin: 0.625rem;
    border: none;
    background-color: var(--verde-claro);
    color: var(--branco-primario);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.modalContainer .footer button:hover {
    background-color: var(--verde-escuro);
}

.modalContainer > .footer > button > a { color: var(--branco-primario); text-decoration: none; }

#cancelBtn { background-color: var(--vermelho-claro); }

#cancelBtn:hover { background-color: var(--vermelho-escuro); }

@media(max-width: 800px) {
  
}

@media(max-width: 720px) {
  
}

@media(max-width: 620px) {
    
}

@media(max-width: 570px) {
    .modalContainer {
        width: 28.125rem;
    }
}

@media(max-width: 520px) {

}

@media(max-width: 500px) {
    .modalContainer {
        width: 25rem;
    }
}