@import url('./global.css');

.modalBackground {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    
    overflow: hidden;
    outline: 0;
    transition: none;

    background-color: var(--cor-de-fundo-primario);

    justify-content: center;
    align-items: center;
}
  
.modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: var(--branco-primario);
    box-shadow: var(--cor-da-sombra) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .title h1 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: var(--cor-do-texto);
}

.titleCloseBtn { display: flex; justify-content: flex-end; }

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: var(--amarelo-claro);
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: var(--verde-claro);
    color: var(--branco-primario);
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.modalContainer .footer button:hover {
    background-color: var(--verde-escuro);
}

.modalContainer > .footer > button > a { color: var(--branco-primario); text-decoration: none; }

#cancelBtn { background-color: var(--vermelho-claro); }

#cancelBtn:hover { background-color: var(--vermelho-escuro); }